/*prevent problems with different browswers*/
*{box-sizing: border-box;}

/* this is my css page */
body {
    font-family: 'Kalnia', serif;
    font-size: 16px; 
    font-weight:300;
    margin: 0;
}

/*this is where i format the header */
header {
    background-color: #F17A13;
    padding: 1rem 2vw; 
    display: flex;
    align-items: flex-end;
    }
header div{
    padding: 1vw;
}

header h1 { 
    margin: 0;
    color: #Fafdf3;
}
header p { 
    margin: 0;
    color: #Fafdf3;
    letter-spacing: .5px ;
}

/*formatting the naviagtion*/

/* this is where i format SMALL screen devices */
@media only screen and (max-width: 800px) {
nav ul li{ 
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
}
nav a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #Fafdf3;
    color: #024873;
}
 nav .active a{
    background-color: #024873;
    background-image: linear-gradient(to bottom, #024873,#003352 );
    color: #F7C727;
}

} /* end of the SMALL media queries*/ 




/* this is where i format LARGE screen devices */
@media only screen and (min-width: 801px) {
    nav { 
        background-color: #F7C727;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }
    nav a{
        text-decoration: none;
        font-size: 1.1rem;
        color: #Fafdf3;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    
    nav a:hover{
        color: #024873;
    }
    nav li.active { 
        background-color: #F7C727;
        color: #Fafdf3; 
    }    
} /* end of the media queries*/ 






/* this is where i format main section */


main {
    padding: 1rem 2vw;
}
main h1 {
    color: #024873; 
}

main h2 {
    color:#024873;
    margin-bottom: .2rem;
}

main p{
    color: black;
    margin: 0 0 .3rem 0
}

main ol { 
    padding: .5rem 3vw;
    background-color: #F0F2F1; 
}

main dl dt{
    color: #ff19e4; 
    font-weight: 700;
}

main dl dd {
    color: #024873; 
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul {
    list-style-type: lower-roman;
}


main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .7rem;
    color: #024873
}


main address { 
    font-style: normal;
    background-color: #f7c72732;
    padding: .5rem; 
    width: 12.5rem ;
    border: 3px solid #024873;
    border-radius: .8rem;
}

main a{
    color: #024873;
}

.hero {
    width: 100%;
    margin: 0;
}
.hero img {
    width: 100%;
    height: auto;
}



main a:hover{
    color: #F7C727; 
}

a:link { 
    text-decoration: none; 
  } 


/* this is where I format the photos*/
figure.wrapped{
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #024873;
    font-weight: 800;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
 div.gallery figure{
    margin: .5rem 2% 0 0;
 }
 div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #024873 ;
 }

div.gallery img {
        width: 100%;
        height: auto;
}

div.gallery img:hover {
    box-shadow: 0px 0px 3px #f09a50;
}


/* this is where i format the form */

.myform fieldset {
    border: 1px solid #024873;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #D7064F;
    font-size: 1.2rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea{
    display: block;
}

.myform [type=text], .myform [type=tel], .myform select, .myform textarea {
    border: solid 1px #024873;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Kalnia', serif; 
    font-weight:300;
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: rgba(156,51,53,0.1);
}



.myform [type=submit] {
    background-color: #024873;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 .5vw;
}

table.our-activies{
    width: 100%;
    border-collapse: collapse;

}
table.our-activies th{
    background-color: #024873;
    color: white;
    padding: .5re, 2vw;
    text-align: left;
}
table.our-activies td{
    color: #024873;
    padding: .4rem 2vw;

}
table.our-activies tr:nth-child(odd){
    background-color: #02487314;
}
table.our-activies tr:hover {
    background-color: #f7c72772 ;
}




/* this is where i format the footer */

footer {
    background-color: #F17A13;
    text-align: center;
    color: #Fafdf3;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a{ 
    color: #024873; 
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
