/*---  this is my css page ---*/

body {
    font-family: 'Amandine', sans-serif;
    font-size: 16px; 
    font-weight:300;
    margin: 0;
}

/*--- this is where i format the header ---*/
header {
    background-color:#FFEEDB;
    padding: 1rem 2vw; 
    }

header p{
    letter-spacing: .5px;
}
header h1, p{ margin: 0;
    color: #C0E6DE;
}


/*--- this is where i format the navigation ---*/
nav { 
    background: #466362;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #896978;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav a:hover {
    color: white;
}
nav li.active a{ 
    background-color: #466362;
    color: #896978; 
}


/*--- this is where i format main section  ---*/

main {
    padding: 1rem 2vw;
}main h1 {
    color: #FFEEDB; 
}

main h2 {
    color: #C0E6DE;
}

main p{
    color: #896978;
    margin: 0 0 .3rem 0
}

main ol { 
    padding: .5rem 3vw;
    background-color: #FFEEDB; 
}

main dl dt{
    color: #896978; 
    font-weight: 700;
}

main dl dd {
    color: #23001E; 
    font-size: .9rem;
}

main ul {
    list-style-type: lower-roman;
}


main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .7rem;
}


main address { 
    font-style: normal;
    background-color: #896978;
    padding: .5rem; 
    width: 12.5rem ;
    border: 3px solid #23001E;
    border-radius: .8rem;
}

/*--- this is where i format the footer ---*/

footer {
    background-color: #FFEEDB;
    text-align: center;
    color: #C0E6DE;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a{ 
    color:#466362; 
}